@import 'helpers/_.scss';

:root {
    // Elements
    --nav-height: 61px;
}

body {
    @extend %font-body;
    padding-bottom: var(--nav-height);
}

noscript {
    p {
        background: pink;
        text-align: center;
        padding: 0.3rem;
        font-size: $font-size-s;
        strong {
            font-weight: bold;
        }
    }
}

a, button {
    -webkit-tap-highlight-color: transparent; // Note: Fix chrome select color
}

// Todo: Set selection color
::selection {
    color: red;
    background: yellow;
  }