@import 'helpers/_.scss';

:root {
    // Elements
    --nav-height: 61px;
}

html {
    @extend %font-sans;
    font-size: 18px;
}

body {
    padding-bottom: var(--nav-height); // Adjust for nav
}

#main > section {
    padding: 0 $spacing-4;
    @media (min-width: $screen-s) {
        padding: 0 $spacing-8;
    }
}