{% extends "root.html" %}

{% block content %}
<section class="posts">
    <ul class="text-posts">
        {% set text_posts = get_section(path="text/posts/_index.md") %}
        {% for page in text_posts.pages | slice(start=0, end=2) %}
        <li>
            <p>
                <a href="{{ page.permalink }}">
                <strong>{{ page.date | date(format="%Y-%m-%d") }}</strong>
                    {{ page.title }}
                </a>
            </p>
        </li>
        {% endfor %}                
    </ul>
    <ul class="pictures-posts">
        {% set pictures_posts = get_section(path="pictures/posts/_index.md") %}
        {% for page in pictures_posts.pages | slice(start=0, end=2) %}
        {% set asset = page.assets | first %}
        <li>
            <p>
                <a href="{{ page.permalink }}">
                    <img
                        src="{{ resize_image(path=asset, width=150, height=150, op="fill") }}"
                        alt="{{ page.title }}"
                    />
                    <strong>{{ page.date | date(format="%Y-%m-%d") }}</strong>
                    {{ page.title }}
                </a>
            </p>
        </li>
        {% endfor %}                
    </ul>
</section>

<ul class="sidebar-nav">
    {% block sidebar_nav %}
        {% for link in config.extra.sthml_links %}
            <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
        {% endfor %}
    {% endblock sidebar_nav %}
</ul>

{% endblock content %}
