{% extends "root.html" %}
{% import "macros/icons.html" as macro_icon %}

{% block main %}
<link rel="stylesheet" href="{{ config.base_url }}/components/hero.css">
<section class="hero" aria-label="hero">
    <div class="content">
        <header>
            <a href="#">{{ macro_icon::icon(name="rss") }}Rss</a>
            <a href="/"><img src="{{ get_url(path='logo/safari-pinned-tab.svg') }}" width="32px" height="auto" alt="Site Logo"></a>
            <a href="#">{{ macro_icon::icon(name="edit") }}Edit</a>
        </header>
        <picture>
            {# TODO: Resposive image #}
            <img src="{{ get_url(path='img/profile.jpeg') }}" alt="Profile picture">
        </picture>
        <h1>{{ config.extra.name }}</h1>
        <p>{{ config.extra.occupation }}</p>
    </div>
</section>

<link rel="stylesheet" href="{{ config.base_url }}/components/about.css">
<section class="about" aria-label="about summary">
    <div class="content">
        <h2>About</h2>
        <blockquote>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat sunt quisquam ad voluptatem nisi illo error nesciunt provident doloremque? Pariatur iure ea earum quas laboriosam numquam neque facilis dolor nobis?</p>
        </blockquote>
    </div>
</section>

<link rel="stylesheet" href="{{ config.base_url }}/components/text.css">
<section class="text" aria-label="text summary">
    <div class="content">
        <h2>Text</h2>
        <ol>
            <li>
                <a href="">
                    <article>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium fuga unde possimus numquam
                            aliquid eius perspiciatis nulla nihil, quasi in!</p>
                        <dl>
                            <dt>Published:</dt>
                            <dd><time>2019-01-01</time></dd>
                            <dt>Tags:</dt>
                            <dd><mark>Tag1</mark> <mark>Tag2</mark> <mark>Tag3</mark></dd>
                        </dl>
                    </article>
                </a>
            </li>
            <li>
                <a href="">
                    <article>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium fuga unde possimus numquam
                            aliquid eius perspiciatis nulla nihil, quasi in!</p>
                        <dl>
                            <dt>Published:</dt>
                            <dd><time>2019-01-01</time></dd>
                            <dt>Tags:</dt>
                            <dd><mark>Tag1</mark> <mark>Tag2</mark> <mark>Tag3</mark></dd>
                        </dl>
                    </article>
                </a>
            </li>
        </ol>        
    </div>
</section>

<link rel="stylesheet" href="{{ config.base_url }}/components/pictures.css">
<section class="pictures" aria-label="pictures summary">
    <div class="content">
        <h2>Pictures</h2>
        <ol>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
        </ol>
    </div>
</section>

{% endblock main %}