{% extends "root.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ config.base_url }}/pictures.css">
{% endblock extra_css %}

{% block content %}
    <section class="pictures">
        <h1>pictures</h1>
        <ul>
            {% for page in paginator.pages %}
            <li>
                {% set asset = page.assets | first %}
                <a href="{{ page.permalink }}">
                    <img
                        src="{{ resize_image(path=asset, width=300, height=300, op="fill") }}"
                        alt="{{ page.title }}"
                    />
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}