{% extends "root.html" %}

{% block title %}
    {{ section.title }}
{% endblock title%}

{% block main %}
    <section class="pictures">
        <h1>pictures</h1>
        <ul>
            {% for page in paginator.pages %}
            <li>
                {% set asset = page.assets[0] %}
                <a href="{{ page.permalink }}">
                    <img
                        src="{{ resize_image(path=asset, width=300, height=300, op="fill") }}"
                        alt="{{ page.title }}"
                    />
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock main %}