@import '../helpers/_.scss';
   
.hero {
    background: #ccc;
    padding: 2rem 0;
    
    .wrapper {
        @extend %content-960;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 0.6rem;

        picture {
            display: flex;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        
        h1 {
            font-size: 1.5rem;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}