@import '../helpers/_.scss';
   
.hero {
    background: white;
    
    .content {
        --padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--padding) 0;
        min-height: calc(100vh - 2 * var(--padding) - var(--nav-height));
        position: relative;
        @extend %content-960;

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 0;
            position: absolute;
            width: 100%;
            top: 0;
            
            a {
                background: none;
                border: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                margin: 0;
                padding: 0;
                cursor: pointer;
                @extend %font-label;
            }
        }
        picture {
            display: flex;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        
        h1 {
            font-size: $font-size-3xl;
            line-height: 1.5;
            text-align: center;
            padding-top: 0.5rem;
        }
    
        p {
            font-size: $font-size-s;
            text-align: center;
            text-transform: uppercase;
        }
    }   
}