@import '../helpers/_.scss';
   
.pictures {
    background: lightgreen;
    
    .content {
        @extend %content-960;
        @extend %content-padding;
    }

    ol {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        justify-content: space-around;
        flex-flow: row wrap;

        li {
            width: calc(100% / 2 - 1rem);
            a {
                display: block;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}