@import '../helpers/_.scss';
   
.text {
    background: lightblue;

    .content {
        @extend %content-960;
        @extend %content-padding;

        ol {
            display: grid;
            grid-gap: $spacing-4;

            li {
                article {
                    dl {
                        display: grid;
                        grid-template-columns: auto auto auto auto 1fr;
                        grid-column-gap: $spacing-2;
                        font-size: $font-size-s;
                        align-items: center;
                        .tags-term, .tags-definition {
                            grid-row: 2;
                        }
                    }
                }
            }
        }
    }
}