@import '../helpers/_.scss';

a {
	color: inherit;
	text-decoration: underline;
	&.button {
		text-decoration: none;
		@extend %button;
	}
	&.button-primary {
		text-decoration: none;
		@extend %button-primary;
	}
}
