{% extends "root.html" %}

{% block content %}
    <section class="posts">
        {% for page in paginator.pages %}
        <article class="post">
            <h2 class="post-title">
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </h2>
            <p class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</p>
            {% set asset = page.assets | first %}
            <a href="{{ page.permalink }}">
                <img src="{{ resize_image(path=asset, width=300, height=300, op="fill") }}" />
            </a>
        </article>
        {% endfor %}
    </section>
{% endblock content %}