<link rel="stylesheet" href="{{ config.base_url }}/sections/index_hero.css" />

<section class="section-hero" aria-label="Hero section">
	<picture class="background">
		{% set path = '../static/img/hero_bg.jpg' %}
		<source
			srcset="{{resize_image(path=path, width=1400, height=700, quality=85)}}"
			media="(min-width: 1400px)"
			aria-hidden="true"
		/>
		<source
			srcset="{{resize_image(path=path, width=1000, height=500, quality=85)}}"
			media="(min-width: 900px)"
			aria-hidden="true"
		/>
		<source
			srcset="{{resize_image(path=path, width=700, height=350, quality=85)}}"
			media="(min-width: 500px)"
			aria-hidden="true"
		/>
		<img
			src="{{ resize_image(path=path, width=500, height=250, quality=85) }}"
			alt="{{config.extra.hero_background_alt}}"
		/>
	</picture>
	<div class="content">
		<header aria-label="Shortcut links">
			<a href="{{get_url(path='rss.xml')}}">{{ macro_icon::icon(name="rss", size="2em") }}Rss</a>
			<a href="#">{{ macro_icon::icon(name="cog", size="2em") }}Edit</a>
		</header>
		<div class="center">
			<picture>
				{% set path = '../static/img/profile.jpeg' %}
				<source
					srcset="{{resize_image(path=path, width=210, height=210, quality=90, op='fit')}}"
					media="(min-width: 500px)"
				/>
				<img
					src="{{ resize_image(path=path, width=170, height=170, quality=90, op='fit') }}"
					alt="Profile picture"
				/>
			</picture>
			<h1>{{ config.extra.name }}</h1>
			<h5>{{ config.extra.occupation }}</h5>
			<ul aria-label="Social links">
				{% for link in config.extra.social_links %}
				<li>
					<a href="{{link.url}}" title="{{link.icon | capitalize}} link"
						>{{ macro_icon::icon(name=link.icon, size=18) }}</a
					>
				</li>
				{% endfor %}
			</ul>
			{% set about_page = get_page(path="about.md")%} {% if about_page.summary %}
			<blockquote>
				{{ about_page.summary | safe }}
			</blockquote>
			{% endif %}
		</div>
	</div>
</section>
