<link rel="stylesheet" href="{{ config.base_url }}/sections/index_gallery.css">

<section id="section-gallery" aria-label="Gallery section">
    <div class="content">
        <h2>Latest gallery posts</h2>
        <ol>
            {% set gallery_section = get_section(path="gallery/_index.md") %}
            {% for page in gallery_section.pages | slice(start=0, end=4) %}
            {% set asset = page.assets[0] %}
                <li>
                    <a href="{{ page.permalink }}" title="View gallery post">
                        <figure>
                            <img
                            src="{{ resize_image(path=asset, width=300, height=300, op="fill") }}"
                            alt="{{page.title}}. {{page.description}}"
                            />
                        </figure>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>