<link rel="stylesheet" href="{{ config.base_url }}/sections/index_pictures.css">

<section id="section-pictures" aria-label="pictures summary">
    <div class="content">
        <h2>Pictures</h2>
        <ol>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
        </ol>
    </div>
</section>