{% extends "root.html" %}

{% block content %}
<section class="posts">
    <ul class="blog-posts">
        {% set blog_posts = get_section(path="blog/posts/_index.md") %}
        {% for page in blog_posts.pages | slice(start=0, end=2) %}
        <li>
            <p>
                <strong>{{ page.date | date(format="%Y-%m-%d") }}</strong>
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </p>
        </li>
        {% endfor %}                
    </ul>
    <ul class="gallery-posts">
        {% set gallery_posts = get_section(path="gallery/posts/_index.md") %}
        {% for page in gallery_posts.pages | slice(start=0, end=2) %}
        <li>
            <p>
                <strong>{{ page.date | date(format="%Y-%m-%d") }}</strong>
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </p>
        </li>
        {% endfor %}                
    </ul>
</section>
<nav></nav>
{% endblock content %}
