<link rel="stylesheet" href="{{ config.base_url }}/sections/index_hero.css">

<section id="section-hero" aria-label="hero section">
    <div class="content">
        <header>
            <a href="{{get_url(path='rss.xml')}}">{{ macro_icon::icon(name="rss", size="2em") }}Rss</a>
            <a href="/"><img src="{{ get_url(path='logo/safari-pinned-tab.svg') }}" width="32px" height="auto" alt="Site Logo"></a>
            <a href="#">{{ macro_icon::icon(name="info", size="2em") }}Info</a>
        </header>
        <div class="center">
            <picture>
                <img src="{{ get_url(path='img/profile.jpeg') }}" alt="Profile picture">
            </picture>
            <h1>{{ config.extra.name }}</h1>
            <h5>{{ config.extra.occupation }}</h5>
            <ul aria-label="Social links">
                {% for link in config.extra.social_links %}
                    <li><a href="{{link.url}}" title="{{link.icon | capitalize}} link">{{ macro_icon::icon(name=link.icon, size=18) }}</a></li>
                {% endfor %}
            </ul>
            {% if config.extra.introduction %}
            <blockquote>
                {{ config.extra.introduction }}
            </blockquote>
            {% endif %}
        </div>
    </div>
</section>