{% extends "root.html" %}

{% block content %}
<section class="blog-posts">
        {% set section = get_section(path="blog/posts/_index.md") %}
        {% for page in paginator.pages %}
        <article class="post">
            <h2 class="post-title">
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </h2>
            <p class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</p>
            {% if page.summary %}
            <p class="post-summary">{{ page.summary | safe | striptags | truncate(length=200) }}</p>
            {% endif %}
        </article>
        {% endfor %}
    </section>
    <section class="gallery-posts">
        {% for page in paginator.pages %}
        <article class="post">
            <h2 class="post-title">
                <a href="{{ page.permalink }}">
                    {{ page.title }}
                </a>
            </h2>
            <p class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</p>
            {% if page.summary %}
            <p class="post-summary">{{ page.summary | safe | striptags | truncate(length=200) }}</p>
            {% endif %}
        </article>
        {% endfor %}
    </section>
{% endblock content %}
