{% import "macros/icons.html" as macro_icon %}

<link rel="stylesheet" href="{{ config.base_url }}/sections/nav.css">

<nav id="section-nav" aria-label="Main navigation">
    <ul>
        {% block sidebar_nav %}
            {% for link in config.extra.navigation %}
                <li><a href="{{link.url}}" id="link-{{link.name | slugify}}" tabindex="{{loop.index}}">{{ macro_icon::icon(name=link.icon, size="2em") }}{{link.name}}</a></li>
            {% endfor %}
        {% endblock sidebar_nav %}
    </ul>
</nav>