<link rel="stylesheet" href="{{ config.base_url }}/components/pictures.css">

<section class="pictures" aria-label="pictures summary">
    <div class="content">
        <h2>
            <a href="{{ config.base_url }}/pictures">{{ macro_icon::icon(name="link") }} Pictures</a>
        </h2>
        <ol>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{get_url(path='img/profile.jpeg')}}" alt="1">
                </a>
            </li>
        </ol>
    </div>
</section>