{# META #}
<meta name="apple-mobile-web-app-title" content="Stockholm">
<meta name="application-name" content="Stockholm">
<meta name="msapplication-TileColor" content="{{config.extra.theme_color}}">
<meta name="theme-color" content="{{config.extra.theme_color}}">

{# MANIFEST #}
<link rel="manifest" href="/logo/site.webmanifest">

{# ICONS #}
<link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/logo/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/logo/favicon-32x32.png">
<link rel="mask-icon" href="/logo/safari-pinned-tab.svg" color="{{config.extra.theme_color}}">

{# CSS #}
<link rel="stylesheet" href="/vendors/preflight.css">
<link rel="stylesheet" href="/root.css">

{# RSS #}
{% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
{% endif %}
