<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        {% include "head.html" %}
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <noscript>
            <p><strong>JavaScript is not enabled.</strong> Some features may not work.</p>
        </noscript>
        <main id="main" aria-label="Main content">
            {% block main %}
            {% endblock main %}
        </main>
        {% include "components/nav.html" %}
        <script src="https://instant.page/2.0.0" type="module" defer integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>