@import '_variables.scss';
@import '_fonts.scss';

%content-padding {
	padding: $spacing-20 0;
}

%content-960 {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

%section {
	padding: 0 $spacing-4;
	@media (min-width: $screen-s) {
		padding: 0 $spacing-8;
	}
}

%visually-hidden {
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

%button {
	display: inline-block;
	padding: $spacing-2;
	min-width: 120px;
	text-align: center;
	text-transform: uppercase;
	font-size: $font-size-xs;
}

%button-primary {
	@extend %button;
	color: var(--color-background);
	background: var(--color-primary);
}
