@import '_variables.scss';

%label-text {
	color: currentColor;
	font-size: $font-size-xs;
	text-decoration: none;
	text-transform: uppercase;
	grid-gap: 0.3rem; // TODO: Variable
}

%content-960 {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}