%font-sans {
    font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif'
}

%font-serif {
    font-family: 'Georgia, Cambria, "Times New Roman", Times, serif'
}

%font-mono {
    font-family: 'Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;'
}

%font-body {
    font-size: 18px;
    line-height: 1.3;
    @extend %font-serif;
}

// TITLES
%font-page-title {
    font-size: $font-size-3xl;
    line-height: 1.5;
    text-align: center;
    @extend %font-sans;
}

%font-page-subtitle {
    font-size: $font-size-s;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

%font-section-title {
    font-size: $font-size-3xl;
    line-height: 1.5;
    text-decoration-style: dotted;
    padding-bottom: $spacing-5;
    @extend %font-sans;


    a {
        color: inherit;
        text-decoration-style: dotted;
        &:active, &:hover, &:focus {
            text-decoration-style: double;
        }
    }
}

%font-label {
    color: currentColor;
    font-size: $font-size-xs;
    text-decoration: none;
    text-transform: uppercase;
    grid-gap: $spacing-1; // TODO: Variable
}

