// FONT SIZE
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;

// BORDER radius
// $border-radius-0: 0;
// $border-radius-s: 0.125rem;
// $border-radius-m: 0.25rem;
// $border-radius-l: 0.5rem;
// $border-radius-full: 50%;
