{% import "macros/icons.html" as macro_icon %}

{# NAV #}
<link rel="stylesheet" href="{{ config.base_url }}/components/nav.css">
<nav class="nav" aria-label="Main navigation">
    <ul>
        {% block sidebar_nav %}
            {% for link in config.extra.navigation %}
                <li><a href="{{link.url}}#link-{{link.name | slugify}}" id="link-{{link.name | slugify}}">{{ macro_icon::icon(name=link.icon) }}{{link.name}}</a></li>
            {% endfor %}
        {% endblock sidebar_nav %}
    </ul>
</nav>