@import '../helpers/_.scss';
   
#section-articles {
    @extend %section;

    .content {
        @extend %content-960;
        @extend %content-padding;
    }
    	
	h2 {
        @extend %font-section-title;
    }


    ol {
        display: grid;
        grid-gap: $spacing-10;
    }

    article {
        header {
            padding-bottom: $spacing-1;
        }
        h3 {
            font-size: $font-size-l;
            font-weight: bold;
        }
        dl {
            font-size: $font-size-s;
            color: $font-color-descrete;
        }
        dt {
            vertical-align: sub;
        }
        dt, dd {
            display: inline;
        }
        p {
            margin-bottom: $spacing-4;
        }
    }

}