@import '../helpers/_.scss';
   
#section-pictures {
    background: rgb(245, 245, 245);
    @extend %section;
    
    .content {
        @extend %content-960;
        @extend %content-padding;
    }

	h2 {
        @extend %font-section-title;
    }

    ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spacing-4;
        
        @media (min-width: $screen-s) {
            grid-gap: $spacing-10;
        }
    
        a {
            display: block;

            img {
                display: inherit;
                width: 100%;
                height: auto;
            }
        }
    }
}