@import '../helpers/_.scss';
   
#section-gallery {
    background: rgb(245, 245, 245);
    @extend %section;
    
    .content {
        @extend %content-960;
        @extend %content-padding;
    }

	h2 {
        @extend %font-section-title;
    }

    ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spacing-4;
        
        @media (min-width: $screen-s) {
            grid-gap: $spacing-10;
        }
    
    }
    a {
        display: block;
        position: relative;
        @media screen and (min-width: $screen-m) {
            &:hover, &:focus, &:active {
                figure::before {
                    transform: scale(1);
                }
                img {
                    transform: scale(1);
                    opacity: 0.5;
                }
                p, dl {
                    opacity: 1;
                    transform: scale(1);
                }
                figcaption {
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    
    figure {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: black;
        &::before {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            border: 1px solid #fff;
            content: '';
            transform: scale(1.1);
            transition: all 0.35s;
        }
    }

    img {
        display: inherit;
        width: 100%;
        height: auto;
        transform: scale(1.12);
        opacity: 1;
        transition: all 0.35s;
    }

    figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -1rem);
        color: $font-color-inverted;
        display: grid;
        font-size: $font-size-s;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        grid-auto-flow: row;
        text-align: center;
        grid-gap: $spacing-4;
        transition: all 0.35s;
    }

    h5 {
        font-size: $font-size-l;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0px 2px black;
    }

    p, dl {
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.35s;
    }

    dl {
        display: flex;
        justify-content: center;
        svg {
            margin-right: $spacing-1;
        }
    }

}