@import '../helpers/_.scss';
   
#section-gallery {
    background: rgb(245, 245, 245);
    @extend %section;
    
    .content {
        @extend %content-960;
        @extend %content-padding;
    }

	h2 {
        @extend %font-section-title;
    }

    ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spacing-4;
        
        @media (min-width: $screen-s) {
            grid-gap: $spacing-10;
        }
    
    }
    a {
        display: block;
        position: relative;
        &:hover, &:focus, &:active {
            figure::before {
                transform: scale(1);
            }
            img {
                transform: scale(1);
                opacity: 0.5;
            }
        }
    }
    
    figure {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: black;
    }

    img {
        display: inherit;
        height: auto;
        opacity: 1;
        transform: scale(1.12);
        transition: all 0.35s;
        width: 100%;
    }
}