@import '../helpers/_.scss';

#section-nav {
	--nav-border: 0.3rem;
	--nav-border-radius: 2rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;
	overflow: hidden;
	border: solid var(--nav-border) rgba(0, 0, 0, 0.8);
	transform: translate(calc(-0.9 * var(--nav-border)), var(--nav-border));

	h2 {
        @extend %font-section-title;
    }
    
    ul {
        display: grid;
		grid-auto-columns: 1fr;
		grid-auto-flow: column;
		list-style: none;
		padding: 0;
		@extend %content-960;

		a {
			display: grid;
			padding: 0.5rem;
			justify-items: center;
			align-items: center;
			@extend %font-label;
			color: inherit;

			&:hover, &:active, &:focus {
				color: $font-color-inverted;
				background: black;

				svg {
					stroke: $font-color-inverted;
					fill: black;
				}
			}
		}
    }
}